/* Add additional stylesheets below
-------------------------------------------------- */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

html {
    background-image: url("b1.jpg");
}

.battleGrid {
	background:absolute;
	text-align: center;
	border: 1px solid black;
	border-spacing: 0px;
	margin: auto;
	z-index:2;
	position: relative;
}

.battleGrid tr {
	position:static;
	height: 30px;
	width: 30px;
	margin: 0px;
	padding: 0px;
}

.battleGrid td {
	position:static;
	border: 1px solid;
	border-color: black;
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
}

.inputRow {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}
.inputCol {
	z-index:2;
	display: block;
	position: fixed;
	top: 500px;
	left: 1200px;
}

a.Menu {
	display: block;
	text-align: center;
	font-weight: bold;
	background-color: black;
}

a.HowToPlay {
	text-align: center;
	background-color: black;
	margin-top: 1px;
}

.restartGame{
    display:block;
    text-align: center;
    background-color: black;
    margin-top: 1px;

}
a.Exit {
	display: block;
	text-align: center;
	background-color: black;
	margin-top: 1px;
}

a.HowToPlay:hover{

     background-color: orange;
     font-weight: bold;
 }
 .restartGame:hover{
     background-color: orange;
     font-weight: bold;
 }
 a.Exit:hover{
     background-color: orange;
     font-weight: bold;
 }


td:hover {
	background-color: gray;
}

html{

}

#sonarContainer{
	display: none;
}

.placed, .empty {
	background-color: gray;
}

.occupied {
	background-color: black;
}

.hit {
	background-color: orange;
}

.sink, .ouch {
	background-color: red;
}

.miss {
    background-color: blue;

}

footer {
	float: right;
}

ul {
	background:absolute;
	background-color: white;
	position: static;
	text-align: right;
	position: fixed;
	top: 515px;
	left: 500px;
}

button{
	background-color: white;
	display: inline-block;
}

h1{
	text-align: center;
}
button:hover{
	background-color: red;
}

body{
	height:auto;
	background: #a8e3ff;
	margin:0;
}

.minev0.occupied{
	background-image: url("../frtm.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	border: 0px;
}

.minev1.occupied{
	border: 0px;
	background-image: url("../bckm.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

.mine0.occupied{
	background-image: url("../frtm.jpg");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: 0px;
	-webkit-transform: rotate(-90deg);
}

.mine1.occupied{
	background-image: url("../bckm.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

.batt0.occupied{
	background-image: url("../batf.jpg");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: 0px;
	-webkit-transform: rotate(-90deg);
}

.batt1.occupied{
	background-image: url("../midb.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

.batt2.occupied{
	background-image: url("../mid2b.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

.batt3.occupied{
	background-image: url("../bckb.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

.battv0.occupied{
	background-image: url("../batf.jpg");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: 0px;
}

.battv1.occupied{
	background-image: url("../midb.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
}

.battv2.occupied{
	background-image: url("../mid2b.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
}

.battv3.occupied{
	background-image: url("../bckb.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
}

.destv0.occupied{
	background-image: url("../topd.jpg");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: 0px;
}

.destv1.occupied{
	background-image: url("../midd.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
}

.destv2.occupied{
	background-image: url("../bckd.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
}

.dest0.occupied{
	background-image: url("../topd.jpg");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border: 0px;
	-webkit-transform: rotate(-90deg);
}

.dest1.occupied{
	background-image: url("../midd.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

.dest2.occupied{
	background-image: url("../bckd.jpg");
	background-size: 30px 30px;
	border: 0px;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
}

#ocean{
	background:relative;
	width:100%;
	min-height:100%;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,50,150)),
		color-stop(0.50, rgb(0,150,255)));
}

.wave{
	z-index:1;
	background:relative;
	background-color: white;
	display:inline-block;
	height:60%;
	width:10px;
	position:absolute;
	-webkit-animation-name:             dostuff;
	-webkit-animation-duration:         3s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
	0%{
		height:60%;
	}
	50%{
		height:40%;
	}
	100%{
		height:60%;
	}
}

.game-menu *{
	transition:all 0.6s;
	-webkit-transition:all 0.6s;
	font-family:'Courier', Monospace;
}

.game-menu{
	box-shadow: 0px 3px 20px black;
	list-style-type:none;
	max-width:160px;
	width:100%;
	position: fixed;
	z-index: 2;
	top:500px;
	left:1200px;
}

.game-menu li{
	text-align:center;
}

.game-menu li a{
	text-decoration:none;
	color:white;
	background-color:#FF4500;
	display:block;
	width:calc(100% - 40px);
	padding:22px;
	left:0px;
}

.game-menu li a:hover{
	padding:33px;
	margin-left:-8px;
	background-color:#3A3A36;
	box-shadow:0px 0px 20px black;
}
