<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<h1>The Battleship game</h1>
<div id="ocean">
</div>
<table id="opponent" class="battleGrid">
</table>
<table id="player" class="battleGrid">
</table>

<!--
<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>
-->
<div class="inputRow" id="verticalContainer">
  <input type="checkbox" id="is_vertical">Vertical</input>
</div>

<div class="inputRow" id="sonarContainer">
  <input type="checkbox" id="is_sonar">Sonar</input>
</div>


<div class="game-menu">
    <li><a href="https://cs361fall2018.github.io/docs/battleship-requirements.pdf">How to Play</a></li>
    <li><a href="http://localhost:8080/">Restart Game </a></li>
    <li><a href="https://github.com/cs361w2019-osu/sprint1-group-7">GitHub Repo</a></li>
</div>


<a href="https://www.w3schools.com" class="w3-btn w3-black">Link Button</a>



<script type="text/javascript" src="/assets/ocean.js"></script>
<script type="text/javascript" src="/assets/game.js"></script>

<script>
    initGame();
</script>

</@layout.myLayout>
