<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<h1>The Battleship game</h1>
<div id="ocean">
</div>
<table id="opponent" class="battleGrid">
</table>
<table id="player" class="battleGrid">
</table>

<!--
<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>
-->
<div class="inputRow">
<input type="checkbox" id="is_vertical">Vertical</input>
</div>
<div class="inputCol">
    <a class="Menu" style="color: white">Menu</a>
    <a href="https://cs361fall2018.github.io/docs/battleship-requirements.pdf" target="_blank" class="HowToPlay" style="color:white">How To Play</a>
    <!--<a href="http://localhost:8080/" class="restartGame" style="color:white">Restart</a>
    <a href="about:blank" class="Exit" style="color:white">Exit</a>-->
</div>
<script type="text/javascript" src="/assets/ocean.js"></script>
<script type="text/javascript" src="/assets/game.js"></script>

<script>
    initGame();
</script>

</@layout.myLayout>
